body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #0056b3;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}
